@model PetStore.Models.Product

@{
    ViewData["Title"] = "DetailsCustomer";
}
<style>
    a:hover {
        color: orangered;
    }

    a.navRight {
        padding: 5px;
        border: 1px solid green;
    }
</style>
<div style="margin-top:20px;border:1px dotted gray;padding:30px;">
    <h2 style="display:inline">Welcome <b>@ViewBag.cid</b></h2>
    <a asp-action="getCustomerBasket" asp-controller="Basket">
        <img src="~/images/basket.png" height="50px" width="50px" style="float:right;" data-toggle="tooltip" title=@ViewBag.bid />
    </a>
    <div style="float:right;">

        <a asp-area="" asp-controller="Product" asp-action="IndexCustomer" style="text-decoration:none" class="navRight">Continue Shopping</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a asp-area="" asp-controller="Basket" asp-action="LoggedOut" style="text-decoration:none" class="navRight">Check out</a>
    </div>


</div>

<h3>@Html.DisplayFor(model => model.ProductName)</h3>
<div style="display:flex;flex-direction:row;justify-content:space-between">
    <div>
        <img class="img-responsive img-thumbnail rounded float-left" src="data:image/jpeg;base64,@(Model.ProductImage == null ? "" : Convert.ToBase64String(Model.ProductImage)) "
             onerror="this.onerror=null;this.src='../../images/thumb.jpg';" />
    </div>
    <div>
        @Html.DisplayFor(model => model.ProductName)<br />
        $ @Html.DisplayFor(model => model.Price)
    </div>
    <div>
        @Html.DisplayFor(model => model.Description)<br />
        <form asp-controller="BasketItem" asp-action="AddToCart" method="post">
            <input asp-for="basketItems.ItemQuantity" type="number" name="quantity" id="quantity" />
            <input asp-for="basketItems.ProductId" type="hidden" name="pid" id="pid" value="@Model.ProductId" />
            <input type="hidden" name="price" id="price" value="@Model.Price" />
            <button type="submit">Add to cart</button>
        </form>
        @Model.ProductName
    </div>
</div>



